[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
knomee_identity = "KNoMeeID11111111111111111111111111111111111"

[programs.devnet]
knomee_identity = "KNoMeeID11111111111111111111111111111111111"

[programs.mainnet]
knomee_identity = "KNoMeeID11111111111111111111111111111111111"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[workspace]
members = [
    "programs/knomee-identity"
]
